*~
*.pem
*.key
*.pub
authorized_keys
pwfile
astroplant.capnp
message*.bin
message*.txt
dashboard.json
kubeconfig.yaml
.envrc

api-dep.yaml
api-ingress.yaml
swagger-ingress.yaml
minio-ingress.yaml
minio-values.yaml
grafana-ingress.yaml
grafana-values.yaml
prometheus-ingress.yaml
mqtt2kafka-dep.yaml
kafka2db-aggregate-dep.yaml
kafka2db-raw-dep.yaml
postgresql-setup-job.yaml
postgresql-values.yaml
simulation-cm.yaml
website-ingress.yaml

deployment/monitoring/prometheus
deployment/monitoring/grafana
deployment/monitoring/grafana-dashboard-6248.json
deployment/minio/minio
deployment/postgresql/postgresql
deployment/kafka/cp-helm-charts
